.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.create-button {
  background-color: #2ecc71 !important; /* verde */
  color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

mat-card {
  position: relative;
  padding: 20px;
}

table {
  margin-top: 20px;
}
